h4{
    text-align: justify;
    color: black;
}
.input input{
    font-size: 1em;
    padding:10px;
    margin-top: 20px;
    margin-left:10px;
}
button{
    background-color: green;
    font-size: 1em;
    padding: 10px;
    margin-top: 20px;
    margin-left:10px;
}
td,th{
    border: 1px,solid pink;
    padding:20px;
    background-color: azure;
    margin: auto;
    text-align: center;
}
